<div class="container-fluid">
    <div class="body">
        <form class="form-horizontal">
        <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        
        <label for="post_Title">your post Title</label>
        
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 colxs-7">
        
        <div class="form-group">
        <div class="form-line">
        <input name="post_Title" [(ngModel)]="post.post_Title" type="text" id="post_Title" class="form-control" placeholder="Enter your Title">
        
        </div>
        </div>
        </div>
        </div>
        <div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <label for="post_Date">post date:</label>
    
        <input type="date" id="start" name="trip-start" [(ngModel)]="post.post_Date"
           value="sys"
           min="2020-01-01" max="2100-12-31">
        </div>
        </div>
        </div>
        <!--<div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="post_Date">date of publishing</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 colxs-7">
            
            <div class="form-group">
            <div class="post_Date">
            <input name="post_Date" [(ngModel)]="post.today" type="text" id="post_Date" class="form-control" placeholder="Enter your date">
            </div>
            </div>
            </div>
            </div>-->
        <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        
        <label for="post_Description">What you want to say</label>
        
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 colxs-7">
        
        <div class="form-group">
        <div class="form-line">
        <input name="post_Description" [(ngModel)]="post.post_Description" type="text" id="post_Description" class="form-control" placeholder="Enter your description">
        </div>
        </div>
        </div>
        </div>
            <div class="row clearfix">
                <div class="col-lg-offset-2 col-md-offset-2 c
                
                ol-sm-offset-4 col-xs-offset-5">
                
                <button (click)="addPosts()" type="button"class="btn btn-primary m-t-15 waves-effect">Publish Your Post</button>
                
                </div>
                </div>
        
        </form>
        </div>
        
    
</div>